<main>
  <div class="container-fluid">
    <div class="project-header">
      <h1 class="title">Demo Project</h1>
      <ul class="users list-inline">
        <li class="list-inline-item">
          <a href="#">
            <img src="../../../../assets/images/user1.png" alt="user1">
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <img src="../../../../assets/images/user2.png" alt="user2">
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <img src="../../../../assets/images/user3.png" alt="user3">
          </a>
        </li>
        <li class="list-inline-item">
          <div class="more bg-image"></div>
        </li>
      </ul>
      <div class="add-us">
        <button class="add-user-story btn btn-primary button-image">
          <span>Add User Story</span>
        </button>
      </div>
    </div>

    <div class="project container">
      <ul class="user-stories">
        <li class="user-story">
          <div class="us-title">
            <!-- <span>dummy title</span> -->
            <input type="text" class="title" value="dummy title">
          </div>
          <ul class="tasks">
            <li class="task">Dummy task</li>
            <li class="task empty">Add new Task</li>
          </ul>
        </li>
        <li class="user-story">
          <div class="us-title">
            <span>dummy title</span>
          </div>
        </li>
        <li class="user-story">
          <div class="us-title">
            <span>dummy title</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>