<!-- <header class="bg-dark">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark pl-0">
      <a class="navbar-brand logo" href="#"></a>
      <button class="navbar-toggler collapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Login
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header> -->

<header class="masthead">
  <div class="boards-menu">&nbsp;</div>

  <div class="logo">
    <a [routerLink]="['/']">
      <i class="fab fa-trello logo-icon" aria-hidden="true"></i>
    </a>
  </div>

  <div class="user-settings">
    <div class="navbar-collapse">
      <!-- <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Login
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
      </ul> -->
    </div>
  </div>
</header>
<tm-linear-loader></tm-linear-loader>

<router-outlet></router-outlet>