<!-- <header class="bg-dark">
  <div class="container-fluid">
    <div class="row pt-2">
      <div class="col-12 col-md-3">
        <a class="navbar-brand logo" href="#"></a>
      </div>

      <div class="text-md-right mt-2 col-12 col-md-9 d-flex flex-column flex-md-row pl-0">
        <div class="col order-2 order-md-1">
          <input type="text" placeholder="Search for.." class="searchBox">
        </div>

        <div class="col-auto order-1 order-md-2">
          <button type="button" class="btn btn-primary button-image search d-sm-none d-md-inline"></button>
          <button type="button" class="btn btn-primary button-image notification"></button>
          <button type="button" class="btn btn-primary button-image settings"></button>
          <button type="button" class="btn btn-primary button-image userBtn">
            <span>Dhinta</span>
          </button>
        </div>
      </div>
    </div>

  </div>
</header> -->

<header class="masthead">
  <div class="boards-menu">
    <button class="boards-btn butn">
      <i class="fab fa-trello boards-btn-icon"></i>Boards
    </button>

    <div class="board-search">
      <input
        type="search"
        class="board-search-input"
        aria-label="Board Search"
      />
      <i class="fas fa-search search-icon" aria-hidden="true"></i>
    </div>
  </div>

  <div class="logo">
    <a [routerLink]="['/']">
      <i class="fab fa-trello logo-icon" aria-hidden="true"></i>
    </a>
  </div>

  <div class="user-settings">
    <button class="user-settings-btn butn" aria-label="Create">
      <i class="fas fa-plus" aria-hidden="true"></i>
    </button>

    <button class="user-settings-btn butn" aria-label="Notifications">
      <i class="fas fa-bell" aria-hidden="true"></i>
    </button>

    <button class="user-settings-btn butn" aria-label="User Settings" (click)="toggleUserTip()">
      <i class="fas fa-user-circle" aria-hidden="true"></i>      
    </button>

    <button class="user-settings-btn butn" aria-label="Sign out" (click)="signout()">
      <!-- <i class="fas fa-info-circle" aria-hidden="true"></i> -->
      <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
    </button>
  </div>
</header>

<router-outlet></router-outlet>
