<header class="bg-dark">
  <div class="container-fluid">
    <div class="row pt-2">
      <div class="col-12 col-md-3">
        <a class="navbar-brand logo" href="#"></a>
      </div>

      <div class="text-md-right mt-2 col-12 col-md-9 d-flex flex-column flex-md-row pl-0">
        <div class="col order-2 order-md-1">
          <input type="text" placeholder="Search for.." class="searchBox">
        </div>

        <div class="col-auto order-1 order-md-2">
          <button type="button" class="btn btn-primary button-image search d-sm-none d-md-inline"></button>
          <button type="button" class="btn btn-primary button-image notification"></button>
          <button type="button" class="btn btn-primary button-image settings"></button>
          <button type="button" class="btn btn-primary button-image userBtn">
            <span>Dhinta</span>
          </button>
        </div>
      </div>
    </div>

  </div>
</header>

<router-outlet></router-outlet>