<form [formGroup]="registrationForm" (submit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="name">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="text" class="form-control" id="email" placeholder="Enter email" formControlName="email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
  </div>
  <div class="form-group">
    <label for="repassword">Confirm Password</label>
    <input type="password" class="form-control" id="repassword" placeholder="Confirm Password" formControlName="repassword">
  </div>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="text" class="form-control" id="phone" placeholder="Phone number" formControlName="phone">
  </div>
  <div class="form-group">
    <label for="dob">Date of Birth</label>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="staySigned">
    <label class="form-check-label" for="staySigned">Stay sign in</label>

    <small id="emailHelp" class="form-text text-muted float-right">
      <a href="javascript:void(0);" (click)="setLogin()">Sign-in</a>
    </small>
  </div>
  <button type="submit" class="btn btn-dark btn-lg">Sign In</button>
</form>