<div class="container-fluid dark-bg">
  <div class="container py-5">
    <div class="row">
      <div class="col-sm col-12">
        <h1>Manage Your Work</h1>
        <div class="text-left text-18">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s. It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. <a href="javascript:void(0)" class="dialog" [tmModal]="modalConfiguration">Click to see more</a>
        </div>
      </div>
      <div class="col-sm col-12 mt-3">
        <div class="form-wrapper bg-white">
          <tm-login *ngIf="accessBoxState === 'login'" (stateChange)="changeAccessBoxState($event)"></tm-login>
          <tm-retrieve-credentials *ngIf="accessBoxState === 'retrieveCreds'" (stateChange)="changeAccessBoxState($event)"></tm-retrieve-credentials>
          <tm-registration *ngIf="accessBoxState === 'registration'" (stateChange)="changeAccessBoxState($event)"></tm-registration>
        </div>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-sm col-12 mt-3">
        <div class="card">
          <div class="card-body text-dark">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <small>
              <a href="#">Learn more</a>
            </small>
          </div>
        </div>
      </div>

      <div class="col-sm col-12 mt-3">
        <div class="card">
          <div class="card-body text-dark">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <small>
              <a href="#">Learn more</a>
            </small>
          </div>
        </div>
      </div>

      <div class="col-sm col-12 mt-3">
        <div class="card">
          <div class="card-body text-dark">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <small>
              <a href="#">Learn more</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>